# To-Do App .gitignore file
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.DS_Store

# Flask
instance/
*.db
*.sqlite3

# Virtual Environment
venv/
ENV/
env/
.venv/

# VSCode settings (optional)
.vscode/

# macOS
.DS_Store

# Linux
*.swp
static/
#windows
Thumbs.db
# Ignore all files in the static directory